header {
    background-color: #256537;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 80;
    .head-title {
        text-decoration: none;
        position: relative;
        cursor: pointer;
        left: 30px;
        color: #FFF;
        z-index: 10;
        font-size: 40px;
        font-family: 'Zilla Slab', serif;
        font-style: italic;
    }
}

#top-space {
    background-color: #B3DABF;
    height: 70px;
    width: 100%;
}

.box {
    background-color: #717194;
    position: relative;
    height: 570px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 35px;
    span {
        color: 	rgb(222, 224, 184);
        position: relative;
        top: 20px;
        left: 40px;
        font-size: 35px;
        float: left;
        font-style: italic;
    }
    .audio {
        position: relative;
        top: 23.3px;
        left: 120px;
    }
    .side {
        position: relative;
        background-color: #fff;
        top: 15px;
        height: 475px;
        width: 1170px;
        margin-top: 17.5px;
        margin-left: 37px;
        overflow: hidden;
        &:hover {
            overflow: auto;
        }
        .vocabulary {
            @include screen(pad) {
                display: none;
            }
            color: #000;
            position: relative;
            width: 100%;
            thead {
                background-color: #EEEEEE;
                border-bottom: 1px solid #D4D4D4;
                tr {
                    height: 40px;
                    th {
                        font-size: 20px;
                        position: relative;
                        left: 5px;
                        font-style: italic;
                    }
                }
            }
            tbody {
                tr {
                    height: 40px;
                    background-color: #fff;
                    border-bottom: 1px solid #D4D4D4;
                    td {
                        font-size: 17.5px;
                        position: relative;
                        left: 10px;
                    }
                }
            }
        }
    }
}

.mark {
    background-color: yellow;
}